<!-- Character Information -->
<div class="hud">
    <div class="hudLine">
        <span class="bold" data-bind="text: name() + ' : Level ' + level()" />
    </div>

    <div class="hudLine">
        <span>Health</span>
        <div class="progress progress-striped active noshadow">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-bind="style:{width: health() + '%'}">
                <span data-bind="text: health() + ' %'" />
            </div>
        </div>
    </div>

    <div class="hudLine">
        <span>Energy</span> <div class="progress progress-striped active noshadow">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-bind="style:{width: energy() + '%'}">
                <span data-bind="text: energy() + ' %'" />
            </div>
        </div>
    </div>

    <div class="hudLine">
        <span>Experience</span> <div class="progress progress-striped active noshadow bottomradius">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" data-bind="style:{width: experience() + '%'}">
                <span data-bind="text: experience() + ' %'" />
            </div>
        </div>
    </div>
</div>

<!-- Mouse controls-->
<div id='controls' class='hud'></div>