<!-- Main Menu -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Main Menu</h4>
            </div>
            <div class="modal-body">
                <p>
                    <h4>Controls</h4>
                </p>
                <p>
                    W, A, S, D = Move around<br />
                    MOUSE = Look around<br />
                    MOUSE LEFT = Activate primary skill<br />
                    DELETE = Kill yourself<br />
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close &amp; Play!</button>
            </div>
        </div>
    </div>
</div>